# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.eslintcache

# Node
node_modules/

# TypeScript
*.tsbuildinfo

# Build outputs
.dist/
dist/
out/
.turbo/
.next/
.next/cache/
apps/*/.next/
packages/*/dist/

# Cache
.cache/

# Env files
.env
.env.*
!.env.example

# Vercel
.vercel/

# Misc
coverage/

